@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

@media only screen and (min-width: 768px) {
  img.img-thumbnail {
    align-items:center;
  }
}
.nav-link, .navbar-text {
  color: rgb(109, 24, 24);
  font-family: 'Sriracha', cursive; 
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Sriracha', cursive; 
}

div.hero-image {
        background-image: url("BassHarborLight.jpeg");
        height: 100px;
        width: 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
      }

div.hero-text {
        text-align: center;
        position: absolute;
        top: 5%;
        left: 10%;
        transform: translate(-10%, -10%);
        font-size: 100px;
        color: rgb(109, 24, 24);
      }
/* About Me */
div.card-body {
    padding: 5px;
    color: rgb(109, 24, 24);
}
/* Separator */
hr.separator {
  margin-top: 0rem;
  overflow: hidden;
  height: 2px;
  color:#495c71;
  background-color:#495c71;
}
/* Nav Bar */
nav.navbar {
  background-color: #495c71;
}

/* About Me */
div.card {
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-bottom: 1px;
  border-color: rgb(92, 87, 87);
  font-size: 35px;
  flex-basis: 100%;
}

/* Profile Image */
div.card {
  margin: 20px;
}

/* Cards on Portfolio Page */
p.card-text {
  font-size: 14px;
}
/* Footer */
footer.footer {
  text-align: center;
  font-size: 12px;
}