@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.nav-link, .navbar-text {
  color: rgb(109, 24, 24);
  font-family: 'Sriracha', cursive; 
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Sriracha', cursive; 
}

.hero-image {
        background-image: url("BassHarborLight.jpeg");
        height: 100px;
        width: 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
      }

.hero-text {
        text-align: center;
        position: absolute;
        top: 5%;
        left: 10%;
        transform: translate(-10%, -10%);
        font-size: 100px;
        color: rgb(109, 24, 24);
      }

/* About Me */
.card-body {
  border-width: 1rem;
  border-bottom: rgb(185, 182, 177);
  font-size: 30px;
  flex-basis: 100%;
}
/* Profile Image */
.img img-thumbnail {
  height: 50%;
  width: 50%;
}
/* Bio */