@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');

.nav-link, .navbar-text {
  color: rgb(109, 24, 24);
  font-family: 'Sriracha', cursive; 
}

body, html {
  height: 100%;
  margin: 0;
  font-family: 'Sriracha', cursive; 
}

div.hero-image {
        background-image: url("BassHarborLight.jpeg");
        height: 100px;
        width: 100%;
        background-position: left;
        background-repeat: no-repeat;
        background-size: cover;
        position: center;
      }

div.hero-text {
        text-align: center;
        position: absolute;
        top: 5%;
        left: 10%;
        transform: translate(-10%, -10%);
        font-size: 100px;
        color: rgb(109, 24, 24);
      }

/* Nav Bar */
nav.bg-primary, {
  background-color: #495c71;
}

/* About Me */
div.card-body {
  border-width: 1rem;
  border-bottom: rgb(185, 182, 177);
  font-size: 30px;
  flex-basis: 100%;
}

/* Profile Image */
div.card {
  margin: 20px;
}

/* Cards on Portfolio Page */

p.card-text {
  font-size: 14px;
}